button, .btn {
  background-color: $primary;
  color: white;
  border: 1px solid darken($primary, 30%);
  padding: .5em 1.2em;
  @include border-radius(.5em);
}

.btn-danger {
  @extend .btn;
  background-color: $warning;
  @include border-radius(0);
}

.btn-success {
  @extend .btn;
  background-color: $success;
  color: black;
}